.section1 {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;

    @include tablet {
        margin-inline: 40px;
    }

    @include desktop {
        margin-inline: 275px;
    }

    &__above-title {
        color: #8ccbea;
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 0.875rem;

        @include desktop {
            font-size: 16px;
        }
    }

    &__title {
        font-family: Roboto Slab, serif;
        margin-bottom: 20px;
        font-size: 1.75rem;

        @include tablet {
            font-size: 1.625rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }

    &__paragraph {
        color: #4a4a4a;
        font-size: 1.125rem;

        @include tablet-desktop {
            font-size: 1.25rem;
        }
    }

    &__button--container {
        width: auto;
        margin-bottom: 40px;
    }

    &__button {
        display: inline-block;
        color: #f26002;
        font-weight: bold;
        background-color: white;
        border-radius: 20px;
        padding: 10px 25px;
        font-size: 1.25rem;
        border: solid 2px $color_button_principal;
        margin-top: 40px;
        cursor: pointer;
        transition: 800ms;

        @include desktop {
            padding: 10px 60px;
        }
    }

    &__button:hover {
        transform: scale(1.2);
        background-color: #0271bc;
        color: white;
        border: solid 2px #8ccbea;
    }
}