<header class="header" id="header">

    <div class="header__menu">
        <a href="https://adalab.es">
            <img src="./images/ico-menu.svg" alt="Menu hamburguesa">
        </a>
    </div>

    <div class="header__content">

        <h1 class="header__title">ANONYMOUS PROXY</h1>
        <p class="header__subtitle">In hac habitasse platea dictumst.</p>

        <button class="header__container-button" onclick="location.href='#section2-reasons'">
            <img src="../images/ico-scroll-down.svg" alt="Flecha abajo">
        </button>
    </div>

</header>