<main>

    <section class="section1">

        <p class="section1__above-title">Insomnia Tips</p>
        <h2 class="section1__title">Looking Through A Window</h2>

        <p class=section1__paragraph>Donec accumsan, nulla ut volutpat porttitot, quam odio tempus feliz, at luctus ex
            diam nec lectus. Vivamus semper sodales rutrum.</p>

        <!--hacer transform con transition-->
        <div class="section1__button--container">
            <button class="section1__button">Go</button>
        </div>

    </section>

    <section class="section2" id="section2-reasons">

        <div class="section2__container">

            <h2 class=section2__title>3 Reasons To Purchase</h2>

            <article class="section2__article1">
                <h3 class="section2__article--title">Ut sed metus</h3>
                <p class="section2_article--paragraph"> Lorem ipsum dolor sit amet, consecteur.</p>
            </article>

            <article class="section2__article2">
                <h3 class="section2__article--title">Curabitur ac erat</h3>
                <p class="section2_article--paragraph">Mauris mattis urna quis lorem molestie.</p>
            </article>

            <article class="section2__article3">
                <h3 class="section2__article--title">Morbi dictum</h3>
                <p class="section2_article--paragraph">Aliquam in dolor et dolor tincidunt.</p>
            </article>

            <!--hacer transform con transition-->
            <div class="section2__button--container">
                <button class="section2__button">More reasons</button>
            </div>

        </div>

    </section>
</main>