* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.header {

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0271bc;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100vh;

    color: white;
    font-family: Roboto Slab,
    serif;

    background-image: url("../images/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;


    &__content {
        padding: 10px;
        overflow-wrap: break-word;
        word-break: normal;
        max-width: 100vw;

        /* Desktop*/
        @media (min-width: 1280px) {
            max-width: 80vw;
        }
    }

    &__title {
        font-size: 2.625rem;
        margin-bottom: 20px;


        /* Tablet */
        @media (min-width: 768px) and (max-width: 1279px) {
            font-size: 5rem;
        }

        /* Desktop*/
        @media (min-width: 1280px) {
            font-size: 6.25rem;
        }
    }

    &__button {
        background-color: white;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 35px;
        cursor: pointer;
    }

    &__subtitle {

        /* Tablet */
        @media (min-width: 768px) and (max-width: 1279px) {
            font-size: 1.25rem;
        }

        /* Desktop*/
        @media (min-width: 1280px) {
            font-size: 1.5rem;
        }
    }
}

    .section1 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px;

        /* Desktop*/
        @media (min-width: 1280px) {
            margin-inline: 275px;
        }

        &__above-title {
            color: #8ccbea;
            margin-top: 40px;
            margin-bottom: 5px;
            font-size: 0.875rem;

            /* Desktop*/
            @media (min-width: 1280px) {
                font-size: 16px;
            }
        }

        &__title {
            font-family: Roboto Slab, serif;
            margin-bottom: 20px;
            font-size: 1.75rem;

            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                font-size: 1.625rem;
            }

            /* Desktop*/
            @media (min-width: 1280px) {
                font-size: 2rem;
            }
        }

        &__paragraph {
            color: #4a4a4a;
            font-size: 1.125rem;

            /* Tablet y desktop */
            @media (min-width: 768px) {
                font-size: 1.25rem;
            }
        }

        &__button--container {
            width: auto;
            margin-bottom: 40px;
        }

        &__button {
            display: inline-block;
            color: #f26002;
            font-weight: bold;
            background-color: white;
            border-radius: 20px;
            padding: 10px 25px;
            font-size: 1.25rem;
            border: solid 2px #f26002;
            margin-top: 40px;
            cursor: pointer;
            transition: 800ms;

            /* Desktop*/
            @media (min-width: 1280px) {
                padding: 10px 60px;
            }
        }

        &__button:hover {
            transform: scale(1.2);
            background-color: #0271bc;
            color: white;
            border: solid 2px #8ccbea;
        }
    }

    .section2 {
        background-color: #eff9ff;
        text-align: center;
    
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1279px) {
            padding-inline: 20px;
        }
    
        /* Desktop*/
        @media (min-width: 1280px) {
            padding-inline: 100px;
        }
    
        &__container {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr auto;
            gap: 30px;
            line-height: 1.7;
    
            /* Tablet y desktop */
            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;
                grid-template-areas:
                    "title title title"
                    "article1 article2 article3"
                    "button button button";
            }
        }
    
        &__title {
            font-family: Roboto Slab, serif;
            margin-top: 30px;
            font-size: 1.5rem;
    
            /* Tablet y desktop */
            @media (min-width: 768px) {
                grid-area: title;
                grid-column: 1 / 4;
                grid-row: 1;
                font-family: Roboto Slab, serif;
                margin-top: 30px;
            }
    
            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                font-size: 1.625rem;
            }
    
            /* Desktop*/
            @media (min-width: 1280px) {
                font-size: 2rem;
            }
        }
    
        &__article1 {
            padding-inline: 80px;
    
            /* Tablet y desktop */
            @media (min-width: 768px) {
                grid-area: article1;
                grid-column: 1;
                grid-row: 2;
            }
    
            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                padding-inline: 30px;
            }
    
            /* Desktop*/
            @media (min-width: 1280px) {
                padding-inline: 28px;
            }
        }
    
        &__article2 {
            padding-inline: 80px;
    
            /* Tablet y desktop */
            @media (min-width: 768px) {
                grid-area: article2;
                grid-column: 2;
                grid-row: 2;
            }
    
            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                padding-inline: 30px;
            }
    
            /* Desktop*/
            @media (min-width: 1280px) {
                padding-inline: 28px;
            }
        }
    
        &__article3 {
            padding-inline: 80px;
    
            /* Tablet y desktop */
            @media (min-width: 768px) {
                grid-area: article3;
                grid-column: 3;
                grid-row: 2;
            }
    
            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                padding-inline: 30px;
            }
    
            /* Desktop*/
            @media (min-width: 1280px) {
                padding-inline: 28px;
            }
        }
    
        &__article__title {
            font-family: Roboto Slab, serif;
            font-size: 1.125rem;
    
            /* Tablet y desktop */
            @media (min-width: 768px) {
                font-size: 1.5rem;
            }
        }
    
        &__article__paragraph {
            font-size: 1.125rem;
    
            /* Tablet y desktop */
            @media (min-width: 768px) {
                font-size: 1.25rem;
            }
        }
    
        &__button--container {
            display: flex;
            justify-content: center;
            margin-bottom: 60px;
    
            /* Tablet y desktop*/
            @media (min-width: 768px) {
                margin-top: 40px;
                grid-area: button;
                grid-column: 1 / 4;
                grid-row: 3;
            }
        }
    
        &__button {
            width: auto;
            display: inline-block;
            color: white;
            margin-top: 20px;
            font-size: 1.25rem;
            font-weight: bold;
            background-color: #f26002;
            border: none;
            border-radius: 20px;
            padding: 10px 25px;
            cursor: pointer;
            transition: 800ms;
    
            /* Desktop*/
            @media (min-width: 1280px) {
                padding: 15px 65px;
            }
        }
    
        &__button:hover {
            transform: scale(1.2);
            background-color: #0271bc;
        }
    }   

    .footer {

        color: white;
        background-color: #304268;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        /* Tablet */
        @media (min-width: 768px) and (max-width: 1279px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: first baseline;
            column-gap: 70px;
        }

        /* Desktop*/
        @media (min-width: 1280px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: first baseline;
        }

        &__arrow--container {
            background-color: white;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__arrow {
            margin: 10px;
        }

        &__nav {
            display: flex;
            flex-direction: column;
            margin-top: 60px;

            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 60px;
                column-gap: 150px;
            }

            /* Desktop*/
            @media (min-width: 1280px) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 60px;
                column-gap: 150px;
            }
        }

        &__menu {
            list-style: none;
            margin-bottom: 30px;

            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                text-align: left;
            }

            /* Desktop*/
            @media (min-width: 1280px) {
                text-align: left;
            }
        }

        &__menu--item {
            margin-bottom: 15px;
        }

        &__menu--link {
            color: white;
            text-decoration: none;
        }

        &__copyright {
            margin-bottom: 50px;
            font-size: 0.875rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            /* Tablet */
            @media (min-width: 768px) and (max-width: 1279px) {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-right: 100px;
            }

            /* Desktop*/
            @media (min-width: 1280px) {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-right: 100px;
            }
        }

        &__copyright--item {
            margin-bottom: 15px;
        }
    }