* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    color: white;
    background-image: url("../images/cover.jpeg");
    background-repeat: no-repeat;
    justify-content: center;
    font-family: Roboto Slab, serif;

    &__menu {
        background-color: #0271bc;
        width: 38px;
        height: 22px;
        position: sticky;
        top: 0;
    }


    &__title {}

    &__button {
        border-radius: 50%;
        color: white;
    }

}

.section1 {

    &__above-title {
        color: #8ccbea;
    }

    &__title {
        font-family: Roboto Slab, serif;
    }

    &__button {
        color: #f26002;
        font-weight: bold;
        background-color: white;
        border-radius: 25%;
        border: solid 2px #f26002;
        padding: 20px 40px 20px 40px;

    }
}

.section2 {

    background-color: #eff9ff;

    &__title {

        font-family: Roboto Slab, serif;

    }

    &__article {}

    &__article__title {
        font-family: Roboto Slab, serif;
    }

    &__button {
        color: white;
        font-weight: bold;
        background-color: #f26002;
        border-radius: 25%;
        border: solid 2px #f26002;
        padding: 20px 40px 20px 40px;
    }
}

.footer {
    color: white;
    background-color: #304268;

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__list {
        list-style: none;
    }

    .menu__link {
        color: white;
        text-decoration: none;
    }
}
